$color:#ff6700;

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
}

li {
    list-style: none;
}

a {
    font-size: 12px;
    color: #333333;
    text-decoration: none;
}

.xm {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.sp {
    width: 210px;
    height: 270px;
    background: #fff;
    text-align: center;
    box-sizing: border-box;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;

    &:nth-of-type(5n) {
        margin-right: 0;
    }

    &:hover {
        box-shadow: 5px 5px 5px #aaa;
        top: -5px;
    }

    &:hover .hot {
        display: block;
        bottom: 0;
        box-shadow: 5px 5px 5px #aaa;
    }

    a img {
        width: 165px;
        height: 165px;
        margin-bottom: 20px;
    }

    span {
        font-size: 12px;
        color: #b0b0b0;
    }

    b {
        font-size: 12px;
        color: $color;
        font-weight: normal;
    }

    .hot {
        display: none;
        width: 210px;
        height: 66px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $color;
    }
}

.sp1 {
    width: 210px;
    height: 270px;
    background: #fff;
    text-align: center;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
    &:hover {
        box-shadow: 5px 5px 5px #aaa;
        top: -5px;
    }

    & a img {
        width: 210px;
        height: 270px;
    }
}
.sp3 {
    width: 210px;
    height: 270px;
    text-align: center;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;

    & a img {
        width: 210px;
        height: 270px;
    }
    .sp_t {
        height: 125px;
        background: #fff;
        position: relative;
        &:hover {
            box-shadow: 5px 5px 5px #aaa;
            top: -5px;
        }
        span {
            font-size: 12px;
            color: #b0b0b0;
        }
        b {
            font-size: 12px;
            color: $color;
            font-weight: normal;
        }
        & a img {
            width: 110px;
            height: 110px;
        }
    }
    .sp_b {
        @extend .sp_t;
        margin-top: 15px;
    }
}